@media screen and (max-width:1200px) {
}

@media screen and (max-width:900px) {
  /* HERO */
  .hero-container h1 {
    /* font-size: 2.5rem; */
  }

  /* ABOUT ME */
  .about-me-container {
    padding: 4rem 0;
  }

  .subtitle {
    margin-bottom: 1.5rem;
    /* font-size: 1.5rem; */
  }
  .about-me-text {
    width: 90%;
    font-size: 1rem;
  }

  /* PROJECTS */
  .projects-container {
    padding: 4rem 0;
  }

  .projects-list {
    flex-direction: column;
    align-items: center;
  }

  .project-container {
    width: 95%;
    padding: 0.5rem;
  }

  .subsubtitle {
    /* font-size: 1.2rem; */
  }

  /* SKILLS */
  .skills-container {
    padding: 4rem 0;
  }

  .skills-list {
    flex-direction: column;
    align-items: center;
  }

  .skill-container {
    width: 95%;
    padding: 1.5rem;
  }

}


@media (hover: none) {
  .hero-container button:hover {
    opacity: 1;
  }
  
  .project-container:hover {
    box-shadow: 0 1px 3px 0 #7A7D8293;
  }
}